{% extends 'accounts/base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
<h2>My Profile</h2>
<form method="post">
  {% csrf_token %}
  {{ form.non_field_errors }}
  {% for field in form %}
  <div class="mb-3">
    <label class="form-label" for="{{ field.id_for_label }}">
      {{ field.label }}</label>
    {{ field }}
    {% if field.errors %}<div class="text-danger">
      {{ field.errors|striptags }}
    </div>{% endif %}
  </div>
  {% endfor %}
  <button type="submit" class="btn btn-success">Update Profile</button>
</form>
{% endblock %}
